GOOGLE_MAPS_API_KEY=your_api_key_here
MODEL_PATH=../../trained_model/OBB-1024-FT-ON-640px-MODEL.pt

# Folder paths (relative to pipeline_code directory)
INPUT_FOLDER=input_folder
OUTPUT_FOLDER=prediction_files
ARTEFACTS_FOLDER=artefacts