name: solar-detection
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - pip
  - pip:
    - ultralytics==8.3.234
    - opencv-python
    - pillow
    - pandas
    - matplotlib
    - requests
    - tqdm
    - python-dotenv
    - shapely
    - openpyxl
    - fastapi
    - uvicorn